<app-header></app-header>
<!-- <app-welcome-page></app-welcome-page> -->
<!-- <app-profile-page></app-profile-page> -->
<!-- <app-listing-details></app-listing-details> -->
<!-- <app-create-listing></app-create-listing> -->
<app-edit-listing></app-edit-listing>
<!-- <app-register-page></app-register-page> -->
<!-- <app-login-page></app-login-page> -->
<!-- <app-catalog-page></app-catalog-page> -->
<!-- <app-about></app-about> -->
<!-- <app-error-page></app-error-page> -->
<app-footer></app-footer>