<div class="home">
    <div class="overlay"></div>
    <img
        src="assets/imgs/pexels-johannes-plenio-1103970.jpg"
        alt="main-bg"
    />
    <div class="content">
        <div class="left-side">
            <h1>Welcome, Diman!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Corporis quia, ipsam unde debitis est in
                ratione quod. Quaerat et fugiat, commodi neque
                cupiditate quae eaque, laudantium, fugit distinctio
                nam porro.
            </p>
            <a href="/catalog">Catalog</a>
        </div>
        <div class="right-side">
            <ul class="grid">
                <li class="review-score">
                    <p>Review Score: <span>9.8/10</span></p>
                </li>
                <li class="pleased-customers">
                    <p>Customers Pleased: <span>94%</span></p>
                </li>
                <li class="shipping">
                    <p>
                        <span>99%</span> of sellers ship within the
                        next day
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
