<div class="sell-form">
  <form action="">
    <h1>Edit a Listing</h1>
    <img
      src="./assets/imgs/ribbon-black-shape.png"
      alt="ribbon"
      class="ribbon"
    />
    <div class="item-and-brand">
      <div class="item">
        <label for="edit-item">What are you selling?</label>
        <input
          type="text"
          name="edit-item"
          id="edit-item"
          placeholder="Example: iPhone 14 Pro"
        />
      </div>
      <div class="brand">
        <label for="edit-brand">What is the brand of the item?</label>
        <input
          type="text"
          name="edit-brand"
          id="edit-brand"
          placeholder="Example: Apple, Oura..."
        />
      </div>
    </div>
    <div>
      <label for="edit-image-url"
        >A valid URL link to an image of whatever you are selling.</label
      >
      <input
        type="url"
        name="edit-image-url"
        id="edit-image-url"
        placeholder="https://product-image-url.com"
      />
    </div>
    <div>
      <label for="edit-description"
        >Describe what you are selling exactly? (condition, origin,
        etc...)</label
      >
      <textarea
        name="edit-description"
        id="edit-description"
        cols="30"
        rows="3"
        placeholder="A very well preserved phone, bought from the official store..."
      ></textarea>
    </div>
    <div class="location">
      <div class="city">
        <label for="edit-city">Location of the item (City)</label>
        <input
          type="text"
          name="edit-city"
          id="edit-city"
          placeholder="Plovdiv"
        />
      </div>
      <div class="country">
        <label for="edit-country">Location of the item (Country)</label>
        <input
          type="text"
          name="edit-country"
          id="edit-country"
          placeholder="Bulgaria"
        />
      </div>
    </div>
    <div>
      <label for="edit-price">What is your asking price for the item?</label>
      <input
        type="number"
        name="edit-price"
        id="edit-price"
        placeholder="350&euro;"
      />
    </div>
    <button class="submit-btn">Edit a Listing</button>
  </form>
</div>
