<div class="sell-form">
    <form action="">
        <h1>Edit a Listing:</h1>
        <div>
            <label for="title">What are you selling?</label>
            <input
                type="text"
                name="title"
                id="title"
                placeholder="Laptop Apple MacBook..."
            />
        </div>
        <div>
            <label for="image-url"
                >A valid URL link to an image of whatever you are
                selling.</label
            >
            <input
                type="url"
                name="image-url"
                id="image-url"
                placeholder="https://product-image-url.com"
            />
        </div>
        <div>
            <label for="title"
                >Describe what you are selling exactly? (condition,
                origin, etc...)</label
            >
            <textarea
                name="description"
                id="description"
                cols="30"
                rows="3"
                placeholder="A very well preserved laptop."
            ></textarea>
        </div>
        <div>
            <label for="title"
                >Where is the item/seller located?</label
            >
            <input
                type="text"
                name="location"
                id="location"
                placeholder="Plovdiv, Bulgaria"
            />
        </div>
        <div>
            <label for="title"
                >What is your asking price for the item?</label
            >
            <input
                type="number"
                name="price"
                id="price"
                placeholder="350&euro;"
            />
        </div>
        <div>
            <button class="submit-btn">Edit Listing</button>
        </div>
    </form>
</div>