<div class="login">
  <div class="left-side">
    <img src="./assets/imgs/pexels-cottonbro-3206080.jpg" alt="" />
  </div>
  <div class="right-side">
    <i class="fa-brands fa-css3 logo"></i>
    <div class="welcome">
      <h1>Hello Again!</h1>
      <p>Error Message</p>
    </div>
    <form action="">
      <div class="email-div">
        <input type="email" id="email" placeholder="Email" />
      </div>
      <div class="pass-div">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="features">
        <div>
          <input type="checkbox" id="remember-me" class="remember-me" />
          <label for="remember-me" class="remember-me-label">Remember me</label>
        </div>
      </div>
      <div class="login-btns">
        <button>Login</button>
      </div>
    </form>
    <div class="sign-up">
      <span>Don't have and account yet?</span>
      <a href="#">Sign Up</a>
    </div>
  </div>
</div>
