<div *ngIf="user" class="profile-page">
    <div class="welcome">
        <div>
            <h1>Welcome!</h1>
        </div>
        <div class="search-my-listings">
            <input
                type="text"
                name="search-my-listings"
                id=""
                class="search-input"
            />
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <div class="info-grid">
        <div class="image tilt">
            <img
                src="{{user.profileImage}}"
                alt=""
            />
        </div>
        <div class="info tilt">
            <p>Email: {{user.email}}</p>
            <p>Name: {{user.name}}</p>
        </div>
        <div class="stats tilt">
            <p>Number of listings: {{user.listings.length}}</p>
            <p>Saved Listings: {{user.savedListings.length}}</p>
            <p>Comment count: {{user.comments.length}}</p>
        </div>
        <div class="my-listings">
            <ul class="">
                <li *ngFor="let listing of user.listings" class="listing">
                    <div class="listing-img">
                        <img
                            src="{{listing.imageUrl}}"
                            alt="listing-img"
                        />
                    </div>
                    <div class="listing-info">
                        <h2>{{listing.item}}</h2>
                        <h4>{{listing.brand}}</h4>
                        <h3>{{listing.price}}&euro;</h3>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</div>