<div class="sell-form">
  <form #sellForm="ngForm" (ngSubmit)="handleSubmitForm(sellForm.value)">
    <h1>Create a Listing</h1>
    <img
      src="./assets/imgs/ribbon-black-shape.png"
      alt="ribbon"
      class="ribbon"
    />
    <div class="item-and-brand">
      <div class="item">
        <label for="item">What are you selling?</label>
        <input
          type="text"
          name="item"
          id="create-item"
          placeholder="Example: iPhone 14 Pro"
          ngModel
        />
      </div>
      <div class="brand">
        <label for="brand">What is the brand of the item?</label>
        <input
          type="text"
          name="brand"
          id="create-brand"
          placeholder="Example: Apple, Oura..."
          ngModel
        />
      </div>
    </div>
    <div>
      <label for="imageUrl"
        >A valid URL link to an image of whatever you are selling.</label
      >
      <input
        type="url"
        name="imageUrl"
        id="create-image-url"
        placeholder="https://product-image-url.com"
        ngModel
      />
    </div>
    <div>
      <label for="description"
        >Describe what you are selling exactly? (condition, origin,
        etc...)</label
      >
      <textarea
        name="description"
        id="create-description"
        cols="30"
        rows="3"
        placeholder="A very well preserved phone, bought from the official store..."
        ngModel
        ></textarea>
    </div>
    <div class="location">
      <div class="city">
        <label for="city">Location of the item (City)</label>
        <input
          type="text"
          name="city"
          id="create-city"
          placeholder="Plovdiv"
          ngModel
        />
      </div>
      <div class="country">
        <label for="country">Location of the item (Country)</label>
        <input
          type="text"
          name="country"
          id="create-country"
          placeholder="Bulgaria"
          ngModel
        />
      </div>
    </div>
    <div>
      <label for="price">What is your asking price for the item?</label>
      <input
        type="number"
        name="price"
        id="create-price"
        placeholder="350&euro;"
        ngModel
      />
    </div>
    <button class="submit-btn">Create a Listing</button>
  </form>
</div>
