<div class="about">
    <ul class="about-container">
        <li class="about-card logo tilt">
            <i class="fa-brands fa-css3"></i>
        </li>
        <li class="about-card stats tilt">
            <h1>Our Stats:</h1>
            <ul>
                <li>Total Listings: <span>{{stats!.listingCount}}</span></li>
                <li>Total Users: <span>{{stats!.userCount}}</span></li>
                <li>Total Comments: <span>{{stats!.commentCount}}</span></li>
                <!-- <li>Total Saved Listings: <span>{{stats!.savedCount}}</span></li> -->
            </ul>
        </li>
        <li class="about-card mission tilt">
            <h1>About Us:</h1>
            <p>
                SelLy was established in 2022 with the sole idea of
                contributing to reducing our waste and carbon
                footprint and stimulate the reusability of already
                existing goods. Our mission here at SelLy is to help
                everyone sell their little or completely unused
                possessions in order to limit material waste and
                reduce our carbon footprint. For every successful
                sale here, we at SelLy promise to plant a tree or
                donate up to 3% of the total price of the sold
                product. We are currently working closely with some
                of the biggest companies in the world to promote
                this new movement.
            </p>
        </li>
        <li class="about-card partners tilt">
            <h1>Our Partners:</h1>
            <ul>
                <li><i class="fa-brands fa-stack-overflow"></i></li>
                <li><i class="fa-brands fa-apple"></i></li>
                <li>
                    <i class="fa-brands fa-square-facebook"></i>
                </li>
                <li><i class="fa-brands fa-google"></i></li>
                <li><i class="fa-brands fa-amazon"></i></li>
            </ul>
        </li>
    </ul>
</div>