<footer>
  <div class="footer-flex">
    <div class="navigation">
      <h2>Navigation:</h2>
      <nav>
        <ul>
          <li><a [routerLink]="'/'">Home</a></li>
          <li><a [routerLink]="'/catalog'">Catalog</a></li>
          <li><a [routerLink]="'/about'">About</a></li>

          <li *ngIf="!userId"><a [routerLink]="'/auth/login'">Login</a></li>
          <li *ngIf="!userId"><a [routerLink]="'/auth/register'">Register</a></li>
          

          <li *ngIf="userId"><a [routerLink]="'/profile'">My Profile</a></li>
          <li *ngIf="userId"><a [routerLink]="'/catalog/create'">Sell</a></li>
          <li *ngIf="userId"><button (click)="logoutUser()">Logout</button></li>
        </ul>
      </nav>
    </div>
    <div class="contacts">
      <h2>Reach us:</h2>
      <p>Email: selLy@gmail.com</p>
      <p>Phone: +359 999 999 999</p>
      <p>Location: Plovdiv, Bulgaria</p>

      <div class="socials">
        <p>Find us on:</p>
        <div class="social-contacts">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-google"></i>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">
    Copyright © 2022
    <a href="https://linktr.ee/dimanrikalov">Diman Rikalov</a>. All rights
    reserved.
  </p>
</footer>
