<div class="page-404">
    <div class="left-side">
        <h1>Something isn't right...</h1>
        <p>
            Seems like you are looking for something that doesn't
            exist. You can head back home by clicking
            <a [routerLink]="'/'">here</a>.
        </p>
    </div>
    <div class="right-side">
        <div id="error-card" class="tilt">
            <div id="error-card-inner">
                <h1>404</h1>
                <p>Page not found!</p>
            </div>
        </div>
    </div>
</div>