<div class="register">
    <div class="left-side">
        <i class="fa-brands fa-css3 logo"></i>
        <div class="welcome">
            <h1>Welcome!</h1>
            <p>Error Message</p>
        </div>
        <form action="">
            <div class="email-div">
                <input
                    type="email"
                    id="email"
                    placeholder="Email"
                />
            </div>            
            <div class="name-div">
                <input
                    type="text"
                    id="name"
                    placeholder="First and last name"
                />
            </div>
            <div class="profile-image-div">
                <input
                    type="url"
                    id="profile-image"
                    placeholder="A valid URL to image of yourself"
                />
            </div>
            <div class="pass-div">
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                />
            </div>
            <div class="conf-pass-div">
                <input
                    type="password"
                    name="password"
                    id="conf-password"
                    placeholder="Confirm password"
                />
            </div>
            <div class="tac">
                <div>
                    <input
                        type="checkbox"
                        id="terms-and-conditions"
                        name="terms-and-conditions"
                        class="terms-and-conditions"
                    />
                    <label
                        class="tac-label"
                        for="terms-and-conditions"
                        >I agree with the terms and
                        conditions.</label
                    >
                </div>
            </div>
            <div class="register-btns">
                <button>Sign Up</button>
            </div>
        </form>
        <div class="sign-in">
            <span>Already have an account yet?</span>
            <a href="#">Sign In</a>
        </div>
    </div>
    <div class="right-side">
        <img
            src="./assets/imgs/pexels-ivan-samkov-7620569.jpg"
            alt=""
        />
    </div>
</div>