<header>
    <a href="#">SelLy</a>
    <nav>
        <!-- change to a logo png/svg and add a greeting "Hello, username" -->
        <div class="nav-container">
            <a href="#" class="nav-a"><i class="fa-solid fa-bars"></i></a>
            <ul class="navigation">
                <li>
                    <a href="#"><i class="fa-solid fa-bookmark ribbon"></i></a>
                </li>
                <li><a class="link" href="#">Sell Item</a></li>
                <li><a class="link" href="#">Login</a></li>
                <li><a class="link" href="#">Register</a></li>
                <li><a class="link" href="#">My Profile</a></li>
                <li><a class="link" href="#">Logout</a></li>
            </ul>
        </div>  
    </nav>
</header>