<header>
    <a href="#">SelLy</a>
    <nav>
        <!-- change to a logo png/svg and add a greeting "Hello, username" -->
        <ul class="navigation">
            <li>
                <a href="#"><i class="fa-solid fa-heart heart"></i></a>
            </li>
            <li><a class="link" href="#">Sell Item</a></li>
            <li><a class="link" href="#">Login</a></li>
            <li><a class="link" href="#">Register</a></li>
            <li><a class="link" href="#">My Profile</a></li>
            <li><a class="link" href="#">Logout</a></li>
        </ul>
    </nav>
</header>