<h1 *ngIf="errorMessage" class="error-message">{{ errorMessage }}</h1>
<div *ngIf="listing" class="details-page-container">
  <div class="details-page">
    <div class="listing tilt">
      <div class="image-div">
        <img src="{{ listing?.imageUrl }}" alt="iphone-14" />
      </div>
      <div class="info">
        <h1>Item: {{ listing?.item }}</h1>
        <h2>Brand: {{ listing?.brand }}</h2>
        <div>
          <h3>Location: {{ listing?.location }}</h3>
          <h3>Seller: {{ listing?.userId?.name }}</h3>
        </div>
        <div class="description">
          <h3>Description:</h3>
          <p>{{ listing?.description }}</p>
          <div class="price-and-operations">
            <h2>Price: {{ listing?.price }}&euro;</h2>
            <div class="listing-operations">
              <a
                *ngIf="listing?.userId?._id?.toString() === loggedUserId"
                routerLink="/catalog/{{ listing?._id }}/edit"
                >Edit</a
              >
              <button
                *ngIf="listing?.userId?._id?.toString() === loggedUserId"
                (click)="deleteListing(listing!._id, loggedUserId)"
              >
                Delete
              </button>
              <button
                *ngIf="
                  loggedUserId &&
                  listing?.userId?._id?.toString() !== loggedUserId
                "
                (click)="saveListing(listing!._id, loggedUserId)"
              >
                <i class="fa-solid fa-bookmark ribbon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comments-div" [ngClass]="loggedUserId ? '' : 'large-container'">
      <ol class="comments" [ngClass]="loggedUserId ? '' : 'large'">
        <h1 class="no-comments" *ngIf="!listing?.comments?.length">
          No comments yet! Be the first to leave a comment!
        </h1>
        <li
          *ngFor="let comment of listing?.comments"
          class="comment"
          [ngClass]="{
            'listing-creator':
              comment.userId._id.toString() === listing?.userId?._id?.toString()
          }"
        >
          <div class="head">
            <div>
              <img src="{{ comment.userId.profileImage }}" alt="user-picture" />
              <span>{{ comment.userId.name }}</span>
            </div>
            <div *ngIf="comment.isEdited">
              <span class="isEdited">Edited</span>
            </div>
            <div
              class="operations"
              *ngIf="comment.userId._id.toString() === loggedUserId"
            >
              <button
                (click)="changeMode(comment._id)"
                [ngClass]="{
                  'operations-color-reversed':
                    comment.userId._id.toString() !==
                    listing?.userId?._id?.toString()
                }"
              >
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                [ngClass]="{
                  'operations-color-reversed':
                    comment.userId._id.toString() !==
                    listing?.userId?._id?.toString()
                }"
                (click)="deleteComment(comment._id)"
              >
                <i class="fa-solid fa-circle-xmark"></i>
              </button>
            </div>
          </div>
          <p>{{ comment.content }}</p>
        </li>
      </ol>
      <div class="text-input" *ngIf="loggedUserId">
        <form
          #commentForm="ngForm"
          (ngSubmit)="comment(commentForm.value, editingMode, commentIdEdit)"
        >
          <textarea
            name="content"
            id="comment-input"
            class="comment-input"
            cols="30"
            rows="10"
            placeholder="Type here..."
            [value]="textAreaContent || ''"
            ngModel
          >
          </textarea>
          <button class="submit-btn">Comment</button>
        </form>
      </div>
    </div>
  </div>
</div>
