<div class="details-page-container">
  <div class="details-page">
    <div class="listing tilt">
      <div class="image-div">
        <img src="./assets/imgs/iphone-14" alt="iphone-14" />
      </div>
      <div class="info">
        <h1>Item: {{ listing?.item }}</h1>
        <h2>Brand: {{ listing?.brand }}</h2>
        <div>
          <h3>Location: {{ listing?.location }}</h3>
          <h3>Seller: {{ listing?.userId?.name }}</h3>
        </div>
        <div class="description">
          <h3>Description:</h3>
          <p>{{ listing?.description }}</p>
          <div class="price-and-operations">
            <h2>Price: {{ listing?.price }}&euro;</h2>
            <div class="listing-operations">
              <a *ngIf="listing?.userId?._id?.toString() === loggedUserId" href="/catalog/{{listing?._id}}/edit">Edit</a>
              <a *ngIf="listing?.userId?._id?.toString() === loggedUserId" href="/catalog/{{listing?._id}}/delete">Delete</a>
              <a *ngIf="listing?.userId?._id?.toString() !== loggedUserId" href="/catalog/{{listing?._id}}/save"><i class="fa-solid fa-bookmark ribbon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comments-div">
      <ol class="comments">
        <h1 class="no-comments" *ngIf="!listing?.comments?.length">No comments yet! Be the first to leave a comment!</h1>
        <li
          *ngFor="let comment of listing?.comments"
          class="comment"
          [ngClass]="{
            'listing-creator':
              comment.userId._id.toString() === listing?.userId?._id?.toString()
          }"
        >
          <div class="head">
            <div>
              <img src="{{ comment.userId.profileImage }}" alt="user-picture" />
              <span>{{ comment.userId.name }}</span>
            </div>
            <div *ngIf="comment.isEdited">
                <span class="isEdited">Edited Comment</span>
            </div>
            <div
              class="operations"
              *ngIf="comment.userId._id.toString() === loggedUserId"
            >
              <a
                href="#"
                [ngClass]="{
                  'operations-color-reversed':
                    comment.userId._id.toString() !==
                    listing?.userId?._id?.toString()
                }"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
              <a
                href="#"
                [ngClass]="{
                  'operations-color-reversed':
                    comment.userId._id.toString() !==
                    listing?.userId?._id?.toString()
                }"
                ><i class="fa-solid fa-circle-xmark"></i
              ></a>
            </div>
          </div>
          <p>{{ comment.content }}</p>
        </li>
      </ol>
      <div class="text-input">
        <textarea
          name="comment-input"
          id="comment-input"
          class="comment-input"
          cols="30"
          rows="10"
          placeholder="Type here..."
        ></textarea>
        <button>Send</button>
      </div>
    </div>
  </div>
  
</div>